<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/custom.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/todo.js"></script>
  </head>
  <body class="container">
  <div ng-controller="TodoListController as todoList">
  <div class= "jumbotron">
  <h1>My Todo List </h1>
   <span>Total Todos = {{todoList.total()}}</span>
   <form ng-submit="todoList.addTodo()">
     <input type="text" ng-model="todoList.todoText"  size="30"

            placeholder="add new todo here">
     <input class="btn-primary" type="submit" value="add">
   </form>
 </div>
   <li ng-repeat="todo in todoList.todos">
     <input type="checkbox" ng-model="todo.complete">
     <span class="complete-{{todo.complete}}">{{todo.text}}</span>
   </li>
 </div>
 </div>

   </body>
  </html>
